/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;400&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
* {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
}

body {
  background-color: #EDE9E1;
}
.mat-mdc-menu-content {
  margin: 0;
  padding: 0 0;
  list-style-type: none;
  background-color: #EDE9E1;
}
