.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.img {
  width: 100%;
  max-width: none;
  height: 300px;
  object-fit: cover;
}
.top-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-container {
  cursor: cell;
  flex: 0 1 18%;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.category-container:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.category-image {
  width: 50%;
  height: auto;
  border-radius: 6px;
}

hr {
  width: 75%;
  border-color: #7EB494;
}
.full-category-container {
  display: flex;
  align-items: center; /* Alineación vertical centrada */
  justify-content: space-between; /* Espaciado entre el texto y la imagen */
  margin: 20px auto; /* Margen arriba y abajo, auto para centrar horizontalmente */
  max-width: 1200px; /* Ancho máximo para las tarjetas, ajusta según necesidad */
  padding: 15px; /* Padding interno */
  border: 1px solid #ccc; /* Borde sutil */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo con un poco de transparencia */
}

.text-container {
  width: 50%; /* Ajuste de ancho para el texto */
  padding-right: 10px; /* Espaciado a la derecha del texto */
}

.category-image {
  width: 20%; /* Reducción del tamaño de la imagen */
  height: auto; /* Altura automática para mantener proporciones */
  border-radius: 4px; /* Bordes redondeados para la imagen */
}

.titulo {
  font-size: 1.2rem; /* Ajuste del tamaño del título */
  color: #333; /* Color oscuro para el título */
  margin-bottom: 0.5rem; /* Margen debajo del título */
}

p {
  font-size: 1rem; /* Ajuste del tamaño del texto para la descripción */
  color: #666; /* Color más suave para la descripción */
  margin-bottom: 0.5rem; /* Margen debajo de la descripción */
}
