<div class="form-container">
  <div class="formulario">
    <h2>Mis Datos</h2>
    <form [formGroup]="datos_usuario">
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Alberto" formControlName="nombre">
          <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="Morales Rico" formControlName="apellidos">
          <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="email@email.com" formControlName="email">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nombre de usuario</mat-label>
          <input matInput placeholder="elon musk" formControlName="username">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline" (click)="picker.open()">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fecha_nacimiento">
          <mat-icon matSuffix>calendar_month</mat-icon>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>DNI | NIE</mat-label>
          <input matInput placeholder="00000000E" formControlName="dni_nie">
          <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Número de teléfono</mat-label>
          <input matInput placeholder="666000666" formControlName="telefono">
          <mat-icon matSuffix>call</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ubicación</mat-label>
          <mat-select formControlName="ubicacion"></mat-select>
          <mat-icon matSuffix>pin_drop</mat-icon>
        </mat-form-field>
      </div>
      <button mat-raised-button class="btn-actualizar-imagen">Modificar Datos</button>
    </form>
    <h2>Modificar Contraseña</h2>
    <form [formGroup]="password">
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Introduzca su contraseña</mat-label>
          <input formControlName="old_password" matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Repita su contraseña</mat-label>
          <input formControlName="new_password" matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button mat-raised-button class="btn-actualizar-imagen">Modificar Contraseña</button>
    </form>
  </div>
  <div class="img-container">
    <img src="{{image_url + usuario.usuario.id}}" alt="Imagen de un usuario" class="imagen-perfil">
    <button mat-raised-button class="btn-actualizar-imagen">Actualizar Imagen</button>
  </div>

</div>
