.logo-container{
  display: flex;
  justify-content: center;
}

.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow: hidden;
}
img:hover {
  transform: scale(1.1);
}
