.table-container {
  margin: 30px auto;
  padding: 20px;
  max-width: 1000px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th.mat-header-cell {
  background-color: #7eb494;
  color: white;
  text-align: center;
  font-size: large;
  height: 40px;
  padding: 10px;
}

td.mat-cell {
  text-align: center;
  height: 40px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.mat-elevation-z8 {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.button-detalles {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 0.9rem;
}

.button-detalles:hover {
  background-color: #45A049;
  transform: translateY(-2px);
}

.header {
  background-color: #7eb494;
  color: white;
}

.icon {
  margin: 0 40px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  color: #005792;
  transform: scale(1.3);
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
}

.filtro {
  width: 500px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 75%;
  padding-left: 50px;
}
