<header>
  <div nz-row nzJustify="center" nzAlign="middle">
    <div nz-col nzSpan="24">
      <img class="logo" src="assets/logo.png">
    </div>
    <div nz-col nzSpan="24">
      <ul nz-menu nzMode="horizontal" class="menu-container">
        <li nz-menu-item>
          HÁZTE VOLUNTARIO
        </li>
        <li nz-menu-item>
          COLABORA CON UNA ONG
        </li>
        <li nz-menu-item>
          INFÓRMATE
        </li>
        <li nz-menu-item>
          NOTICIAS
        </li>
        <li nz-menu-item>
          RECOMENDACIONES
        </li>
        <li nz-menu-item>
          ADMINISTRACIÓN
        </li>
        <li nz-menu-item>
          QUIENES SOMOS
        </li>
        <li nz-submenu nzTitle="ACCESOS" nzIcon="user">
          <ul>
            <li nz-menu-item>INICIAR SESIÓN</li>
            <li nz-menu-item>REGISTRARSE</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
