<header>
    <div class="logo-container">
      <img routerLink="" class="logo" src="assets/logo.png" alt="">
    </div>
  <nav class="nav-container">
    <button mat-button (click)="navegar_inicio()">HAZTE VOLUNTARIO</button>
    <button mat-button (click)="navegar_voluntariados()">COLABORA CON UNA ONG</button>
    <button mat-button [matMenuTriggerFor]="informateMenu">INFÓRMATE</button>
    <mat-menu #informateMenu="matMenu" yPosition="below">
      <button class="item" mat-menu-item (click)="navegar_derechos_deberes()">DERECHOS Y DEBERES</button>
      <button class="item" mat-menu-item (click)="navegar_tipos_voluntariado()">TIPOS DE VOLUNTARIADO</button>
    </mat-menu>
    <button mat-button>NOTICIAS</button>
    @if (is_admin) {
      <button mat-button>ADMINISTRACIÓN</button>
    }
    @if (is_voluntario) {
      <button class="fav" (click)="navegar_recomendaciones()" mat-button>RECOMENDACIONES</button>
    }
    <button mat-button>QUIENES SOMOS</button>
    @if (!is_login) {
      <button mat-button [matMenuTriggerFor]="belowMenu">ACCESOS</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button class="item" mat-menu-item (click)="navegar_login()">INICIAR SESIÓN</button>
        <button class="item" mat-menu-item (click)="navegar_registro()">REGISTRARSE</button>
      </mat-menu>
    } @else {
      <button mat-button [matMenuTriggerFor]="belowMenu">
        <mat-icon>face</mat-icon>
        PERFIL
      </button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button class="item" mat-menu-item (click)="navegar_perfil()">MIS DATOS</button>
        <button class="item" mat-menu-item (click)="cerrar_sesion()">CERRAR SESIÓN</button>
      </mat-menu>
    }
  </nav>
  <hr>

</header>
